@import 'tailwindcss';

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf')
        format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf')
        format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
